h3 {
    font-weight: 600;
    margin: 15px;
}


/* Упражнение 1 */

.triangle {
    width: 0;
    height: 0;
    margin: 10px;
    display: inline-block;
}

.left {
    border-right: 100px black solid;
    border-bottom: 50px transparent solid;
    border-top: 50px transparent solid;
}

.right {
    border-left: 100px black solid;
    border-bottom: 50px transparent solid;
    border-top: 50px transparent solid;
}

.top {
    border-bottom: 100px black solid;
    border-left: 50px transparent solid;
    border-right: 50px transparent solid;
}

.bottom {
    border-top: 100px black solid;
    border-left: 50px transparent solid;
    border-right: 50px transparent solid;
}


/* Упражнение 2 */

.ex2__text {
    margin: 15px;
    width: 500px;
}

.ex2__text::first-letter {
    color: blue;
    font-size: larger;
    font-weight: 900;
}


/* Упражнение 3 */

.ex3__text {
    margin: 15px;
    padding: 5px;
    width: 500px;
    border-top: 1px solid #000;
}

.ex3__text::first-line {
    font-style: italic;
}


/* Упражнение 4 */

.ex__text_one::selection {
    background-color: blue;
}

.ex__text_two::selection {
    background-color: red;
}


/* Упражнение 5 */

.ex5__input {
    margin: 15px;
}

.ex5__input::placeholder {
    background-color: whitesmoke;
    color: blue;
    text-align: center;
}


/* Упражнение 6 */

.ex6__input {
    margin: 15px;
    width: 550px;
    text-align: center;
    border: none;
    border-radius: 25px;
    box-shadow: -5px 5px 25px 5px crimson;
}

.ex6__input::placeholder {
    color: crimson;
}

.ex6__input:focus::placeholder {
    color: white;
}


/* Упражнение 7-8 */

.ex3 .ex__text_one::before {
    content: "▶ Абзац 1 ";
    font-style: normal;
}

.ex3 .ex__text_two::before {
    content: "▶ Абзац 2 ";
    font-style: normal;
}


/* Упражнение 9 */

ol {
    padding-left: 35px;
    list-style: decimal;
}

.ex9__list__item:nth-child(4) {
    color: blue;
    font-size: 25px;
}


/* Упражнение 10 */

.ex10__list__item:nth-child(odd) {
    color: blue;
    font-size: 25px;
}


/* Упражнение 11 */

.ex11_check {
    margin: 15px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label::after {
    display: inline-block;
    content: "";
    height: 10px;
    width: 10px;
    margin-left: 5px;
    border: 1px solid grey;
}

input[type=checkbox]:checked+label::after {
    background-color: red;
}


/* Упражнение 12 */

input[type=radio] {
    display: none;
}

input[type=radio]+label::after {
    display: inline-block;
    content: "";
    height: 10px;
    width: 10px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid grey;
}

input[type=radio]:checked+label::after {
    background-color: red;
}


/* Упражнение 13 */

.ex13__alltext {
    margin: 15px;
    width: 400px;
}

.ex13__head {
    margin: inherit;
    font-size: larger;
    font-weight: 700;
}

.ex13__text {
    margin: inherit;
}

.ex13__text:nth-of-type(2) {
    color: red;
}


/* Упражнение 14 */

.ex14__list__item:not(:first-child) {
    color: red;
}


/* Упражнение 15 */

.ex15__scroll {
    overflow-y: scroll;
    width: 300px;
    height: 200px;
}

.ex15__scroll__inside {
    height: 500px;
}

.ex15__scroll::-webkit-scrollbar {
    background-color: red;
}

.ex15__scroll::-webkit-scrollbar-thumb {
    background-color: cornsilk;
}


/* Упражнение 16 */