body {
    display: grid;
    grid-template-areas: "header menu menu menu" "hero hero hero hero" "main main . extra" "main main . image" "banner banner banner banner";
    grid-template-rows: 0.5fr 3fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    margin: 0;
}

@media all and (max-width: 960px) {
    body {
        grid-template-areas: "header header header" "hero hero hero" "menu main main" "menu banner banner" "menu extra image";
        grid-template-rows: 0.5fr 1.5fr 1.5fr 1fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media all and (max-width: 575px) {
    body {
        grid-template-areas: "header" "menu" "hero" "main" "banner" "extra" "image";
        grid-template-rows: 1fr 1fr 2.5fr 2.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}

.header {
    grid-area: header;
    color: #ffffff;
    text-transform: uppercase;
    background: #0f1629;
    text-align: center;
}

.menu {
    grid-area: menu;
    color: #ffffff;
    text-transform: uppercase;
    background: #ef3c4e;
    text-align: center;
}

.hero {
    grid-area: hero;
    color: #ffffff;
    text-transform: uppercase;
    background: #4c86c6;
    text-align: center;
}

.main {
    grid-area: main;
    color: #ffffff;
    text-transform: uppercase;
    background: #24344b;
    text-align: center;
}

.banner {
    grid-area: banner;
    text-transform: uppercase;
    background: #ffd169;
    text-align: center;
}

.extra {
    grid-area: extra;
    text-transform: uppercase;
    background: #4dbd97;
    text-align: center;
}

.image {
    grid-area: image;
    text-transform: uppercase;
    background: #c1e4e6;
    text-align: center;
}