.styleClass {
    font-size: 56px;
    width: 300px;
    height: 300px;
}

#customId {
    background: blueviolet;
}

.main_containter {
    width: 250px;
    background: tomato;
    height: 250px;
}

.exSeven {
    width: 250px;
    background: tomato;
    height: 250px;
}